.card {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card-header {
    border-bottom: none;
    padding: 1.5rem 1.5rem 0.5rem;
    text-align: center;
}
  

.card-header h5 {
    font-size: 2rem;
    font-weight: 700;
    text-align: right;
}

.project-table {
    margin-top: 1rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
}

.project-table thead th {
    font-weight: 600;
    color: #333;
    border-bottom: none;
}

.project-table tbody tr {
    background-color: #fefefe;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.project-table tbody tr td {
    padding: 1rem;
    vertical-align: middle;
}

.project-table th:nth-child(1),
.project-table td:nth-child(1) {
    padding-right: 8.5rem;
}

.project-table tbody tr + tr {
    border-top: 1px solid #f4f4f4;
}

/* Optional row styling for highlighting */
.project-table tbody tr:nth-child(2) {
    border: 1px solid #ffedcc;
    border-radius: 10px;
}
